* {
  box-sizing: border-box;
}
body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden; 
}
body{
  overflow-x: hidden;
}

::selection{
  color: #f3c77c;
  background:#eed0a17b ;
}

body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

@font-face {
  font-family: font1;
  src: url(/Poppins-Regular.ttf);
}

@font-face {
  font-family: font2;
  src: url(/helveticaneue.woff2);
}

@font-face {
  font-family: font3;
  src: url(/helveticaneue-medium.woff2);
}
@font-face {
  font-family: hello;
  src: url(/fonnts.com-DegularDisplayDemo-Bold.otf);
}

@import "tailwindcss";
